.html, body {
    width: 100%;
    font-family: Tahoma, sans-serif;
}

.news-main {
    width: 60%;
    margin: auto;

}

.news-container {
    max-width: 1500px;
}


.d-flex {
    display: flex;
    justify-content: space-between; /* Căn chỉnh hai bên trái - phải */
    align-items: center; /* Căn giữa theo chiều dọc */
}

.heart-icon {
    cursor: pointer;
    font-size: 1.2rem;
    color: #6c757d; /* Màu xám mặc định */
    transition: color 0.3s;
}

.heart-icon:hover {
    color: #ff6b6b; /* Màu khi rê chuột */
}

.heart-icon.active {
    color: #ff0000; /* Màu đỏ khi đã yêu thích */
}