* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    font-family: Tahoma, sans-serif;
}

.container {
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    position: relative;
}

.back-icon {
    font-size: 24px;
    color: gray;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    text-decoration: none; /* Xóa gạch chân */
}

h2 {
    font-size: 22px;
    color: #333;
    margin-top: 60px;
    font-weight: bold;
}

form {
    margin-top: 30px;
}

#inputEmailPhone {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: red; /* Màu đỏ ban đầu */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #e80c0c; /* Màu đỏ nhạt khi hover */
    transform: scale(1.02); /* Hiệu ứng phóng to */
}

.login-text {
    margin-top: 320px;
    color: #666;
    font-size: 14px;
}

#loginLink {
    color: #007bff;
    text-decoration: none;

}

#loginLink:hover {
    text-decoration: underline;
}
